.wrapper {
  margin: 10px;
}

header {
  text-align: center;
}

h1 {
  font-family: 'Dosis', 'Sans-serif';
  font-weight: normal;
  margin: 0;
}

code {
  border-radius: 6px;
  font-family: Menlo, Monaco, Consolas, "Andale Mono", "lucida console", "Courier New", monospace;
}

button {
  margin-bottom: 5px;
}

footer {
  margin-top: 20px;
  text-align: center;
}
